/* Reset  Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: hsla(0, 0%, 95%, 0.253);
}

:root {
  --primary-color: #fd6e0a;
  --secondary-color: #fff8f3;
  --big-text: 60px;
  --mid-text: 35px;
  --section-heading-text: 30px;
  --about-section-heading-text: 27px;
  --about-section-sub-heading-text: 23px;
  --peragraph-big-text: 18px;
  --peragraph-text: 16px;
  --peragraph-small-text: 14px;
  --dark-01: #181818;
  --dark-02: #474747;
  --dark-03: #757575;
  --big-spacing: 24px;
  --spacing: 16px;
  --small-spacing: 8px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ================================================== Common Design ================================================== */

.common-heading {
  font-size: 28px;
  color: var(--dark-01);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.common-desc {
  font-size: 14px;
  color: var(--dark-03);
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

/* Header part CSS */
#header {
  background-color: var(--secondary-color);
}

/* Navbar Part CSS start */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  font-size: var(--mid-text);
  font-weight: bolder;
}
.logo-style {
  color: var(--primary-color);
}
#navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}
#navbar .nav-links li a {
  text-decoration: none;
  color: var(--dark-02);
}
.hire-me-button {
  border: none;
  background-color: var(--primary-color);
  padding: 13px 25px;
  border-radius: 5px;
  font-size: var(--peragraph-text);
  color: white;
  font-weight: bold;
}
/* Navbar Part CSS end */

/* Hero part CSS start */
#hero {
  /* padding-top: 100px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.hero-content {
  justify-self: start;
}
.hero-content h3 {
  font-size: var(--mid-text);
  color: var(--dark-02);
  margin-bottom: 10px;
}
.hero-content h1 {
  font-size: var(--big-text);
  color: var(--dark-01);
  margin-bottom: 10px;
}
.hero-content p {
  font-size: var(--peragraph-text);
  color: var(--dark-03);
  margin-bottom: 30px;
}
.hero-content-btn {
  display: flex;
  gap: 15px;
}
.download-cv-btn {
  border: none;
  background-color: var(--primary-color);
  padding: 13px 25px;
  border-radius: 5px;
  font-size: var(--peragraph-text);
  color: white;
  font-weight: bold;
}
.contact-btn {
  border: 1px solid hsla(25, 98%, 52%, 0.356);
  background-color: var(--secondary-color);
  padding: 13px 25px;
  border-radius: 5px;
  font-size: var(--peragraph-text);
  color: var(--primary-color);
  font-weight: bold;

  transition: 0.3s ease-in;
}
.contact-btn:hover {
  border: 1px solid #ff6a00;
}
.hero-img {
  justify-self: end;
}
/* Hero part CSS end */

/* About part CSS start */
#about {
  text-align: center;
  padding: 80px 0;
}

.about {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 80px 150px;
}

.about > .common-heading {
  margin-bottom: 20px;
}
.about > .common-desc {
  margin-bottom: 30px;
}
.about-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-info-item a {
  text-decoration: none;
}

.about-info-title {
  display: block;
  font-size: 14px;
  color: var(--dark-03);
}
.about-info-value {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-02);
}

/* About part CSS end */

/* Skill part CSS start */
#skill {
  text-align: center;
}
.skill {
  border-radius: 10px;
}

.skill > .common-heading {
  margin-bottom: 20px;
  padding: 0 150px;
}
.skill > .common-desc {
  margin-bottom: 50px;
  padding: 0 150px;
}

.about-card {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  text-align: left;
}

.about-card-item {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 46%, 0.493);
  transition: border 0.3 ease-in border-radius 0.3 ease-in;
}

.about-card-item:hover {
  border: 1px solid var(--dark-03);
  border-radius: 10px;
  cursor: pointer;
}

.about-card-img {
  height: 30px;
}
.about-card-name {
  display: block;
  color: var(--dark-01);
  font-weight: bold;
  padding: 20px 0;
}
.about-card-desc {
  color: var(--dark-03);
  font-size: 14px;
}
/* Skill part CSS end */

/* resume part CSS start */
#resume {
  text-align: center;
  padding: 80px 0;
}
.resume > .common-heading {
  margin-bottom: 20px;
}

.resume-content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.resume-education,
.resume-experience {
  text-align: left;
}

.resume-education-title,
.resume-experience-title {
  color: var(--dark-02);
  font-size: 24px;
  margin-bottom: 25px;
}

.resume-education-degree,
.resume-experience-position {
  color: var(--dark-02);
  font-size: 20px;
  margin-bottom: 5px;
}

.resume-education-university,
.resume-experience-company {
  color: var(--dark-03);
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 700;
}

.resume-education-desc,
.resume-experience-desc {
  color: var(--dark-03);
  font-size: 14px;
}

.hr-divider {
  border-top: 1px solid var(--dark-03);
  margin: 20px 0;
}

.resume-download-cv-btn {
  margin: 50px auto;
  border: none;
  background-color: var(--primary-color);
  padding: 13px 25px;
  border-radius: 5px;
  font-size: var(--peragraph-text);
  color: white;
  font-weight: bold;
}
/* resume part CSS end */
